/*p {background-color: aqua}*/

body {margin: 0;
    padding: 0;
}

.header {
    height: 700px;
    background-image: url("images/main_image.png");
    background-repeat: no-repeat;
    background-size: 100%;


}

.text1 {
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 48pt;
    color: rgba(255, 255, 255, 255);
    text-align:left;
    padding-top: 334px;
    padding-left: 215px;
    text-transform: uppercase;
}

.text2 {

    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-bottom: 40px;
    margin-left: 215px;
    /*padding-left: 215px;*/
}

#we_block {
    display: inline-block;
    border: 1px white solid;
    background-color: rgba(0,0,0,0.3);
    margin-top: 23px;
    text-transform: uppercase;
}

#we_block div:first-child{
    font-family: ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 54px;
    color: rgba(244, 142, 11, 255);
    text-align: left;
}

#we_block div:last-child {
    padding: 48px 43px 41px 0;
    display: inline-block;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 54px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

#we_block {
    display: inline-block;
}

.header2 {
    height: 700px;
    background-image: url("images/background-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-second-page {
    text-align: center;
    padding-top: 10px;
}

.card {
    display: block;
    width: 193px;
    height: 178px;
    float: left;
    padding-right: 2px;
}

.block1{
    padding-top: 40px;
    padding-left: 193px;
}
.block2{
    padding-top: 40px;
    padding-left: 193px;
}

.text-second-page2 {
    text-align: center;
    padding-top: 350px;
}
.text-second-page3 {
    text-align: center;
    /*margin-top: 350px;*/
}


#email-data{
    width: 598px;
    height: 50px;
}

.submit {
    width: 300px;
}

input[type=submit] {
    width: 172px;
    height: 64px;
    background-color: yellow;
}

/*.text {*/
/*    width: 768px;*/
    /*height: 123px;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/
.block3 {
    display: flex;
    justify-content: center;
}
.text:after{
    display: block;
    content: "";
    border-bottom: 3px solid orange;
}