@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
/* Global */
ul {
    list-style: none;
    padding: 0;
    float: left;
    text-align: left
}
li {
    list-style: none;
    padding: 0;
}

th, td {
    border: 1px solid #c3c3c3;
    box-shadow: 1px 0 1px -1px #989898, -1px 0 1px -1px #c0c0c0;
}
.no-border {
    border: none;
    box-shadow: none;
}

table {
    border-collapse: collapse;
}

body {
    height: 736px;
    width: 1192px;
    font-family: ﻿Arimo, sans-serif;
    text-transform: uppercase;
    color: #484848;
    background:#3a4965;
}

button {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

.row {
    height: 69px;
    text-align: center;
}

.cell {
    width: 277px;
    text-align: center;
    white-space: nowrap;
}
.cell-white {
    background-color: white;
}
.price-round {
    font-weight: bold;
    font-size:60px;
    float: left;
    margin-left: 30px;
}
.price-dec {
    margin-bottom: 10px;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.btn-dark {
    background-color: gray;
}
.back-dark {
    background-color: #b7b7b7;
}

.btn-success {
    background-color: #89c331;
}

.btn-warning {
    background-color: #f04a56;
}

.btn-info {
    background-color: #20807c;
}

.text-white {
    color: white;
}

.text-ultimate {
    font-size: 30px;

}

.back-grey {
    background-color: #d4d4d4;
}

.choose {
    font-size: 18px;
}

.plan {
    font-size: 30px;
}

.left-column {
    width: 310px; !important;
}

.button-column {
    width: 310px;
    height: 110px;
}

.back-grey-light {
    background-color: #f2f2f2;
}

.button {
    width: 192px;
    height: 49px;
    border-color: transparent;
    border-radius: 5px;
}

button:hover {
  /*border: 1px solid;*/
  /*box-shadow: inset 0 0 20px rgba(247, 247, 247, 0.5), 0 0 20px rgba(0, 0, 0, 0.74);*/
  /*outline-color: rgba(255, 255, 255, 0);*/
  /*outline-offset: 15px;*/
  /*text-shadow: 1px 1px 2px #4f5353;*/
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}



