
.portfolioDisc {
    width: 300px;
    height: 0px;
    /*padding-top: 0px;*/
    /*overflow:hidden;*/
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-top:300px;
    position:absolute;
    background-color: #000000;
    font-size: 15px;
    /*line-height: 18px;*/
    text-align:center;
    color: #FFF;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.port{

    background-image: url("image1.png");
    width:307px;
    height: 200px;
    position:relative;
}


.port:hover .portfolioDisc {
    margin-top:221px;
    height:69px;
    padding-top: 10px;

}

/*.price {*/
/*    width: 312px;*/
/*    height: 63px;*/
/*    -webkit-transition: all 0.2s linear;*/
/*    -moz-transition: all 0.2s linear;*/
/*    -o-transition: all 0.2s linear;*/
/*    transition: all 0.2s linear;*/
/*    margin-top:10px;*/
/*    position:absolute;*/
/*    background-color: #f26522;*/
/*    font-size: 12px;*/
/*    line-height: 13px;*/
/*    text-align: left;*/
/*    !*padding-top: 16px;*!*/
/*    color: #f5fff8;*/
/*    font-family: 'Noto Sans JP', sans-serif;*/
/*}*/

/*.card-body {*/
/*    width: 139px;*/
/*    height: 30px;*/
/*    position:relative;*/
/*}*/

/*.card-body:hover .price{*/
/*    margin-top:330px;*/
/*    height:69px;*/
/*    !*padding-top: 330px;*!*/

/*}*/
