body {
    margin: 0;
    padding: 0;
}
.nav_menu {
    margin: 0;
}
.navigation_bar {
    background-color: white;
    padding: 40.5px;
}
.nav_menu, li {
    display: flex;
    justify-content: space-around;
    font-family:'Roboto', sans-serif;
    font-size: 18pt;
    color: rgb(22, 160, 133);
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
.header-image {
    height: 790px;
    background-image: url("./images/main_image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.text-container {
     background-color: rgb(245, 246, 247);
     background-size: 100% 100%;
     margin-top: -25px;
     text-align: center;
}
h2 {
    text-transform:uppercase;
    padding-top: 59px;
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
}
p {
    padding-top: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
}
button {
    height: 51px;
    width: 192px;
    background-color: rgb(22, 160, 133);
    border-radius: 5px;
    border: 0;

}
#button_push {
    font-family: '﻿OpenSans-Light', sans-serif;
    font-size: 9pt;
    color: rgba(255, 255, 255, 255);
    padding: 18px 45px 18px 49px;
    margin-bottom: 81px;
}
footer {
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
    color: rgba(55, 55, 55, 255);
    display: inline-block;
    margin: 50px;
    padding-right: 50px;
    float: right;
}