@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/

.blk1-bg {
    background-image: url("../images/sections-background/section-1(header).jpg");
    height: 1012px;
    background-attachment: fixed;
}
body {
    margin: 0;
    /*width: 1160px;*/
    /*width: 1200px;*/
    /*max-width: 1200px;*/
}
.nav-menu {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    padding: 0 75px 0 80px;
    height: 90px;
    color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.nav-right li:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}
.hexagon-icon {
    background-image: url(../images/icons/hexagon_1.png);
    height: 67px;
    width: 58px;
    background-repeat: no-repeat;
}
.hexagon-icon-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    display: inline-block;
    font-weight: 600;
}
/*a {*/
/*    color: #18cfab;*/
/*}*/
.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    /*margin-left: 489px;*/
}
.nav-left > div {
    display: inline-block;
    margin-left: .2em;
}
.nav-right {
    /*float: right;*/
    display: flex;
    justify-content: flex-end !important;
    height: 90px;
}
.right-menu-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: .785em;
    font-family: 'Montserrat', sans-serif;
    height: 90px;
    /*padding-top: 25px;*/
}
.right-menu-links > li {
    padding-left: .6em;
    padding-top: 1em;
    height: 65px;
}
.magnifier {
    content: url(../images/icons/magnifier.png);
    height: 20px;
    margin-top: 22px;
    margin-left: 10px;
}
.intro-uprcase {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.intro {
    display: grid;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 250px 400px 200px 400px;
}
.intro-ham {
    font-size: 24px;
    padding-bottom: 15px;
}
.intro-weare {
    font-size: 57px;
    padding-bottom: 10px;
}
.intro-thin {
    /*letter-spacing: 0.5px;*/
    font-size: 23.5px;
    color: #afafaf;
}
.intro-buttons {
    margin-top: 80px;
}
.intro-button-left {
    width: 166px;
    height: 61px;
    margin: 9px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #18cfab;
    color: white;
    font-size: 12px;
}
a.button {
    display: inline-flex;
    width: 166px;
    height: 61px;
    /* margin: 9px; */
    text-decoration: none;
    font: 12px 'Montserrat', sans-serif;;
    font-weight: bold;
    line-height: 25px;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
}
.intro-button-left,
.intro-button-left:hover {
    color: #ffffff;
    border-top: 7px solid #ffffff;
    border-radius: 2px;
    background-color: #18cfab;
}
.intro-button-right,
.intro-button-right:hover {
    color: #ffffff;
    border-top: 7px solid #ffffff;
    border-radius: 2px;
    background-color: #00cbf6;
}
.intro-button-center {
    margin-top: 50px;
}
.intro-button-center,
.intro-button-center:hover {
    color: #ffffff;
    border-top: 7px solid #ffffff;
    border-radius: 2px;
    background-color: #18cfab;
}
.intro-button-load-more {
    width: 166px;
    height: 61px;
    margin: 9px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #18cfab;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: -6px;
}
.cross {
    font-size: 36px;
    -webkit-text-stroke: 2px #ffffff;
    display: inline-block;
    /*padding: 0px 20px;*/
    margin-right: 20px;
}
/*!*.gray:hover { background: #009ee2; }*!подсвечивает при наведении*/
.btm-menu-box {
    /*display: inline-block;*/
    height: 374px;
    /*background-color: #777777;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.odd {
    background-color: #1c2a33;
    border-top: 6px solid #18cfab;
}
.even {
    background-color: #18cfab;
    border-top: 6px solid #ffffff;
}
.bottom-menu {
    display: flex;
    justify-content: center;
}
.bottom-menu > div {
    width: 25%;
}
.odd,
.even {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.odd {
    color: #18cfab;
}
.even {
    color: white;
}
.btm-menu-text {
    padding-top: 14px;
}
.block3 {
    height: 400px;

    width: 1160px;
    /*text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.services {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: #4e4e4e;
    margin-top: 82px;
    margin-bottom: 1em;
}
.line1 {
    display: block;
    width: 70px;
    height: 1px;
    background: #18cfab;
    margin-bottom: 2px;
    /*margin: 7px 5px 5px 535px;*/
    margin-left: 535px;
    /*margin-top: 10px;*/
}
.line2 {
    display: block;
    width: 70px;
    height: 1px;
    background: #18cfab;
    margin-bottom: 2px;
        /*margin: 5px 5px 5px 557px;*/
    margin-left: 550px;
}
.img-float {
    float: left;
    margin-right: 25px;
}
.img-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    line-height: 26px;
}
.blk4-bg {
    background-image: url("../images/sections-background/tablet-1.png");
    background-size: cover;
    width: 100%;
    margin-top: 100px;
}
.block4 {
    height: 476px;
}
.background-opacity {
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    height: 476px;
    display: table;
    width: inherit;
}
.everything-ready {
    display: table-cell;
    text-align: center;
    /* align-items: center; */
    vertical-align: middle;
}
.everything-uppercase {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 39px;
    display: block;
    font-weight: bold;
}
.smooth-thin {
    font-family: 'Montserrat', sans-serif;
    color: #d0cfcf;
}
.everything-ready {
    text-align: center;
}
/*.work-menu-links {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    font-size: .7em;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    flex-wrap: wrap;*/
/*    padding-left: 0;*/
/*    margin-bottom: 0;*/

/*}*/

.our-amazing-work {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: #4e4e4e;
    margin-top: 82px;

    /*margin-bottom: 16px;*/
}
.am-work {
    width: 1160px;
    /*text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.creative-design {
    height: 208px;
    width: 286px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.img-circles {
    width: 40px;
}
.cr-design {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: bold;
}
.web-design {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #4e4e4e;
}
.card {
    display: inline-block;
    width: 284px;
    height: 205px;
    margin: -2px;
}
.tab-content {
    width: 56px;
}
.tab-content {
    width: 1160px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.load-more-button {
    text-align: center;
    padding-top: 71px;
}
.br-news {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: #4e4e4e;
    margin-top: 82px;
    /*padding-bottom: 15px;*/
    /*margin-bottom: 16px;*/
}
/*.l2 {*/
/*    margin-left: 500px;*/
/*}*/
.block6 {
    width: 1160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-media {
    width: 264px;
    background-color: #dde1e3;
}
.container {
    position: relative;
    width: 100%;
}
.date-box {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 74%;
}
.card-media:hover .date-box {
    background-color: #18cfab;
}
.card-media:hover .card-title {
    color: #18cfab;
}
.card-media {
    cursor: pointer;
    /*display: inherit;*/
    float: right;
}
.date-box > span {
    display: block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #626262;
    font-weight: bold;
    padding-left: 15px;
}
.text-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #717171;
    padding-left: 15px;
    padding-bottom: 10px;
}
.card-group {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 3em;
}
.block6 {
    padding-bottom: 70px;
}
.what-people {
    width: 1160px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.what-people-say {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: #ffffff;
    margin-top: 82px;
    padding-top: 98px;
    margin-bottom: 16px;
}
.blk7-bg {
    background-image: url(../images/sections-background/section-3.jpg);
    height: 851px;
}
.quotes:before {
    content: '\201C';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #18cfab;
    text-align: center;
    padding-top: 80px;
}
.carousel {
    height: 616px;
}
.carousel-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.boy {
    background-image: url("../images/carousel-images/boy.png");
    background-repeat: no-repeat;
    background-size: 2em;
}
.boy-1 {
    background-image: url("../images/carousel-images/boy-1.png");
    background-repeat: no-repeat;
    background-size: 2em;
}
.girl {
    background-image: url("../images/carousel-images/girl.png");
    background-repeat: no-repeat;
    background-size: 2em;
}
.girl-1 {
    background-image: url("../images/carousel-images/girl-1.png");
    background-repeat: no-repeat;
    background-size: 2em;
}
.carousel-select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-indicators-my li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 33px;
    cursor: pointer;
}
.carousel-indicators-my {
    display: flex;
    justify-content: center;
    /*padding-left: 0;*/
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 17px;  /** TODO: Remove later **/
}
.my-carousel-prev {
    left: 0;
}
.my-carousel-next {
    right: 0;
}
.my-carousel-next, .my-carousel-prev {
    display: flex;
    color: #fff;
}
.arrow-border-prev {
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    opacity: 0.6;
    display: flex;
    align-items: center;
    /*text-align: center;*/
    justify-content: center;
    padding-left: 3px;
}
.my-carousel-prev-icon {
    width: 6px;
    height: 6px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    /*-webkit-transform: rotate(45deg);*/
    transform: rotate(45deg);
    left: 10px;
    text-decoration: none;
}
.arrow-border-next {
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    opacity: 0.6;
    display: flex;
    align-items: center;
    /*text-align: center;*/
    justify-content: center;
    padding-right: 3px;
}
.my-carousel-next-icon {
    width: 6px;
    height: 6px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    /*-webkit-transform: rotate(45deg);*/
    transform: rotate(220deg);
    right: 10px;
    text-decoration: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.carousel-inner {
    padding-top: 84px;
    display: flex;
    text-align: -webkit-center;
    padding-bottom: 56px;
}
.d-block {
    width: 114px;
    height: 107px;
}
.text {
    padding-top: 44px;
}
.user-name {
    padding-top: 43px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #18cfab;
    font-weight: bold;
}
.position {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #bbbbbb;
    padding-bottom: 37px;
}
.footer {
    /*width: 1422px;*/
    height: 198px;
    background-color: #22353f;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #bbbbbb;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.unactive {
    display: none;
}
.green {
    background-color: #18cfab !important;
    /*color: #00cbf6;*/
}
/*.arrow-down {*/
/*    width: 0px;*/
/*    height: 0px;*/
/*    border-left: 20px solid transparent;*/
/*    border-right: 20px solid transparent;*/
/*    border-top: 20px solid #f00;*/
/*}*/

.white {
    color: white;
}
.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs > .tab-link {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.tab-link {
    height: 73px;
    background-color: #f8fcfe;
    border: 1px solid #ececec;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7d7d7d;
}
/*.tab-link:active {*/
/*    background-color: yellow;*/
/*}*/

.nav-our-services {
    padding-top: 3em;
}
.nav-tab-content {
    margin-top: 25px;
}
/*.arrow-down {*/
/*    width: 0px;*/
/*    height: 0px;*/
/*    border-left: 20px solid transparent;*/
/*    border-right: 20px solid transparent;*/
/*    border-top: 20px solid #f00;*/
/*}*/

.work-menu-links {
    /*list-style: none;*/
    display: flex;
    justify-content: center;
    font-size: .7em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 45px;
    margin-bottom: 60px;
}
.nav-item {
    list-style: none;
    width: 160px;
}
.nav-all-tab {
    width: 85px !important;
}
.nav-item > .nav-link {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    height: 73px;
    background-color: #f8fcfe;
    border: 1px solid #ececec;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7d7d7d;
    list-style: none;
    text-decoration: none;
}

