body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    font-size: 500%;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 600;
}
p {
    text-align: justify;
}
.text-disappearance {
    position: relative;
    min-height: 50vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
.lorem-ipsum-wars{
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #fed948;
    perspective: 400px;
}
.action {
    position: relative;
    animation: action 30s linear infinite;
}
.action > .title {
    font-size: 90%;
    text-align: center;
}
@keyframes action {
    0% {
        opacity: 0;
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    20%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}