/*.grids{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*    grid-auto-rows: 280px;*/
/*    grid-gap: 15px;*/
/*}*/

/*.grid{*/
/*    background-color: #53738f;*/
/*}*/

/*end*/
/*.main-image {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(7, 1fr);*/
/*    grid-template-rows: 1fr repeat(2, 2fr) repeat(5, 1fr);*/
/*    height: 850px;*/
/*    border: 15px solid black;*/
/*    grid-gap: 10px;*/
/*    background-color: #53738f;*/
/*}*/
/*.r1c1 {*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 3;*/
/*    background-color: white;*/

/*}*/
/*.r1c2 {*/
/*    grid-column-start: 3;*/
/*    grid-column-end: 6;*/
/*    background-color: white;*/

/*}*/
/*.r1c3 {*/
/*    background-color: #6c6c6c;*/
/*}*/
/*.r1c4 {*/
/*    background-color: #1ac66c;*/
/*}*/

/*.r2c1 {*/
/*    background-color: yellow;*/
/*}*/

/*.r2c2 {*/
/*    grid-column-start: 2;*/
/*    grid-column-end: 6;*/
/*    grid-row-start: 2;*/
/*    grid-row-end: 4;*/
/*    background-color: blue;*/
/*}*/
/*.r2c3 {*/
/*    grid-column-start: 6;*/
/*    grid-column-end: 8;*/
/*    background-color: yellow;*/
/*}*/
/*.r3c1 {*/
/*    grid-row-start: 3;*/
/*    grid-row-end: 5;*/
/*    background-color: white;*/

/*}*/
/*.r3c2 {*/
/*    background-color: white;*/
/*}*/
/*.r3c3 {*/
/*    background-color: white;*/
/*}*/
/*.r4c1 {*/
/*    grid-column: 2/4;*/
/*    grid-row: 4/6;*/
/*    background-color: #0c0c0c;*/
/*}*/
/*.r4c2 {*/
/*    grid-column: 4/6;*/
/*    !*grid-row: 4/6;*!*/
/*    background-color: white;*/
/*}*/
/*.r4c3 {*/
/*    grid-column: 6/8;*/
/*    background-color: white;*/
/*}*/
/*.r5c3 {*/
/*    grid-area:  ;*/
/*}*/
/*end*/

.header_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 15px;
    background-color: #6c6c6c;
}

.block1 {
    grid-column: 1/8;
    background-color: #3cb878;
}