@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
/*font-family: 'Mukta', sans-serif;*/
body {
    height: 768px;
    width: 1366px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../images/background_image.png");
    background-size: cover;

}
.main {
    margin-left: 157px;
    margin-right: 150px;
    display: block;
}
.header {
    height: 45px;
    /*border: 1px solid #6c6c6c; !*для наглядности*!*/
    margin-top: 49px;
}
.logo-image {
    background-image: url("../images/logo.png");
    height: 44px;
    width: 46px;
    display: block;
    float: left;
    /*padding-right: 15px;*/
}
.logo-name-1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
    color: #f26522;
    /*display: block;*/
    /*float: top;*/
    margin-top: -9px;
}
.logo-name-2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #f26522;
    margin-top: -5px;
}
.logo-name {
    height: 44px;
    width: 105px;
    display: block;
    float: left;
    padding-left: 15px;
}
.contacts {
    float: right;
}
.contact-email {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #f5fff8;
    /*display: block;*/
    /*float: top;*/
}
.contact-phone-number {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #f5fff8;
    text-align: right;
}
.all-blocks {
    display: inline-block;
    margin-right: -34px;
    margin-left: -34px;
}
/* Card */
.card {
    display: block;
    float: left;
    margin: 29px 34px 29px 34px;
}
.card-body {
    /*width: 307px;*/
    /*height: 200px;*/
    display: block;
    float: right;
    text-align: right;
    position: relative;
}
/*Container*/
* {box-sizing: border-box;}
.container {
    position: relative;
    width: 100%;
    max-width: 307px;
}
.card-img {
    width: 307px;
    height: 200px;
    border: 3px solid #0c0c0c;
    border-image: linear-gradient(#ffffff, #313131) 27 / 35px;
    display: block;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: #f26522;
    color: #ffffff;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 13px;
    padding: 20px;
    text-align: left;
}
.container:hover .overlay {
    opacity: 1;
}
.price {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    color: #f5fff8;
    width: 50%;
    float: left;
    /*margin-top: 7px;*/
}
.word1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;

}
.word2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 0.9em;

}
.view-details {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #f5fff8;
    width: 50%;
    float: right;
    padding-top: 12px;
}
a {
    text-decoration: none;
}
/* FOOTER */
.card-footer {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    display: block;
    /*width: 100%;*/
}
.vd-after::after {
    content:">";
    font: 1.2em 'Consolas';
    font-weight:900;
    margin: 0 15px;
    color: #f9b291;
}
.footer-info {
    display: inline-block;
    width: 100%;
}
.footer-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 61px;
    margin-bottom: 20px;
}

