.circle {
    width: 150px;
    height: 150px;
    background-color: #3cb878;
    border-radius: 50%;
    transition: 2s transform ease,
    5s background-color ease-out;
}

.circle:hover {
    transform: scale(1.2) translateX(150px);
    background-color: hotpink;

}
.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s;
    transform: rotate(45deg);
}
.circle2::after {
    content: "";
    width: 75px;
    height: 75px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(135deg) translate(20% 20%);
}
.circle2:hover {
    transform: rotate(180deg);
}
.check {
    width: 150px;
    height: 150px;
    outline: none;

}
.check:checked {

}