@font-face {
    font-family: "Myriad Pro", sans-serif;
    src: url(fonts/MyriadPro-Regular.otf);}
body {
    margin: 0;
    /*padding: 0;*/
}
.logo {
    height: 74px;
    width: 292px;
    font-size: 60px;
    /*box-sizing: content-box;*/
    /*padding: 11px;*/
    font-family: "Myriad Pro", sans-serif;
}
.content {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
}
.header {
    margin-top: 61px;
    margin-left: 101px;
}
.logo a {
    text-decoration: none;
}
.colortext {
    color: rgb(75, 202, 255);
}
.colortext0 {
    color: rgb(0, 0, 0);
}
.logo a:hover {
    /*background-color: #7793a2;*/
    cursor: pointer;
}
/*Upper_nav*/
.menu_box {
    height: 69px;
    /*width: 1280px;*/
    color: white;
    background-color: rgb(53, 68, 79);
    display: flex;
    justify-content: center;
}
.upper_nav {
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
}
.upper_nav a {
    padding: 22px;
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    color: white;
}
.nav_link:hover {
    background: #222f3a;
    color: #ffffff;
}
.vertical_nav-container {
    margin-top: 51px;
    border: 1px solid #35444f;
    height: 399px;
    width: 344px;
}
.vertical_nav-container a {
    font-family: "Myriad Pro", sans-serif;
    font-size: 25px;
    color: #495863;
    display: block;
    /*display: inline-block;*/
    padding: 25px;
    text-decoration: none;
}
.vertical_nav-container a:hover {
    background-color: #ccc;
}
.vertical_nav-container a.active {
    background-color: #dbdbdb;
    color: #495863;
}
.active {
 padding-left: 80px !important;
}
.middle {
    display: flex;
    justify-content: space-between;
}
.image_box {
    float:right;
    border: 1px solid #35444f;
    height: 529px;
    width: 885px;
    margin-top: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    padding-bottom: 20px ;
}
.content_text {
    font-family:"Myriad Pro", sans-serif;
    font-size: 15px;
    margin: 50px 25px 15px 460px;
}
/*Footer*/
.footer {
    height: 69px;
    color: black;
    background-color:#b4b7ba;
    display: flex;
    justify-content: space-between;
}
.footer_nav {
    font-family:"Myriad Pro", sans-serif;
    font-size: 20px;
}
.footer_nav a {
    margin-left:  20px;
    padding: 22px;
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    color: black;
}
.footer_nav a:hover {
    background: #53738f;
}
.footer_nav a.selected {
    color: blue; !important;
    border-bottom: 1px dashed  !important;
    pointer-events:none;
    padding: 0; !important;

}
.footer > span {
    padding: 25px;
    text-decoration: none;
    border-bottom: none;
    color: black;
    float: right;
}



/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 1366px;*/

/*}*/

/*.image {*/
/*    height:768px;*/
/*    width: 1366px;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    !*opacity: 1;*!*/


/*}*/