@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');
/*font-family: 'Hammersmith One', sans-serif;*/

/*General*/
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #3cb878;
}
a:hover{
    text-decoration: underline ;
    color: #3cb878;
}
body {
    margin: 0;
}
/* Custom pos */
.align-right {
    text-align: right;
}
.right {
    float: right;
}
.left {
    float: left;
}
.inline-block {
    display: inline-block;
}
/* Main page */
.main-image {
    background-image: url("../images/main-image.png");
    /*background-size: 100% 100%;*/
    background-size: cover;
    height: 912px;
    background-repeat: no-repeat;
}
/* Navigation */
.nav_menu {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    padding: 18px 75px 18px 80px;
    height: 22px;
}
.page-name{
    font-family:'Hammersmith One', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font-weight:600;
    /*margin-left: 73px;*/
    /*margin-right: 10px;*/
}
.page-name:hover {
    color: #3cb878;
    cursor: pointer;
}
/*Icons*/
.icons {
    line-height: normal; /* Reset line-height. */
    vertical-align: middle;
    border-right: 2px solid;
    border-color: rgba(255,255,255,.1);
    /*padding: 15px 0;*/
}
.welcome-login {
    margin-left: 25px;
}
.log-in {
    font-family:'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    height: 15px;
    vertical-align: middle;
}
.sprite-margin {
    margin-right: 26px;
    vertical-align: middle;
}
/* SPRITES */
.sprite {
    background-image: url(../images/spritesheet-double.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.calc {
     width: 25px;
     height: 22px;
     background-position: -31px -2px;
 }
.calc:hover {
    background-position: -198px -1px;
}
.message {
    width: 28px;
    height: 20px;
    background-position: -89px -2px;
}
.message:hover {
    background-position: -145px -2px;
}
.compass {
    width: 20px;
    height: 20px;
    background-position: -121px -2px;
}
.compass:hover {
    background-position: -177px -2px;
}
/* Main form content */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    display: inline-block;
    width: 444px;
    margin-top: 65px;
    background: white;
    border-radius: 5px;

}
/* Social BUTTONS */
.login {
    font-family:'Hammersmith One', sans-serif;
    font-size: 16px;
    color:#3cb878;
}
.fb{
    width: 157px;
    height: 46px;
    font-family:'Hammersmith One', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-color: transparent ;
    background-color: #305db8;
}
.fb:hover{
    background-color: #1a4277;
    transition: 1s;
}
.g-plus {
    width: 157px;
    height: 46px;
    font-family:'Hammersmith One', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-color: transparent ;
    background-color: #df4a32;
}
.g-plus:hover{
    background-color: #bc412c;
    transition: 1s;
}
/* Button text */
.fb-text, .gl-text {
    padding-left: 18px;
    font-family:'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #ffffff;

}
.fb-line, .gl-line {
    content: "";
    display: inline-block;
    height: 26px;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding-left: 12px;
    /*transform: rotate(180deg);*/
}
/**Button sprites*/
.sprite-fb {
    width: 25px;
    height: 22px;
    background-position: -60px -2px;
    margin-left: 5px;
}
.sprite-G {
    width: 27px;
    height: 22px;
    background-position: 0 0;
    margin-left: 5px;
}

/* Input form */
.input-menu {
    margin-bottom: 32px;
}
input[type=text], select {
    width: 322px;
    height: 46px;
    margin-top: 9px;
    border-radius: 2px;
    border: 1px solid #bebebe;
    text-indent: 17px;
}
input[type=text]:focus{
    box-shadow: 1px 2px 8px 2px #9c9c9c;
    cursor: text;
}
input[type=submit] {
    width: 322px;
    height: 46px;
    margin: 5px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #3cb878;
    color: white;
    font-size: 17px;
}
.button-submit:hover {
    background-color: #2e8654;
    transition: 1s;
}
.sign-up, .buttons, .or-form, form {
    padding: 0 60px 0 60px;
}
.sign-up, .buttons
{
    padding-top: 30px;
    padding-bottom: 8px;
}
.sign {
    float: left;
    font-family:'Hammersmith One', sans-serif;
    font-size: 20px;
}
.green-box {
    height: 18px;
    width: 18px;
    background: #3cb878;
    float: left;
    position: relative;
    margin-left: -60px;
}
.lines {
    position: relative;
    font-size: 14px;
    font-family:'Hammersmith One', sans-serif;
    /*margin: 0 auto;*/
    border-top: 1px solid silver;
    margin-top: 80px;
    color: #848484;
}
.lines:before{
    content: attr(data-text);
    background-color: #fff;
    position: absolute;
    text-align: center;
    /*width: 220px;*/
    margin-left: -22px;
    padding: 0 15px 5px 15px;
    top: -10px;
}
/* Checkbox */
.checkbox-mark+label{
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 2px;
}
.checkbox-mark:checked+label::before{
    display: inline-block;
    content: "\f00c";
    font-family: "FontAwesome";
    height: 14px;
    width: 12px;
    color: #3CB878;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-65%, -55%);
}
.checkbox-mark{
    display: none;
}
.form-control{
    margin: 15px 0;

}
.agreed-checkbox-text{
    color: #000000;
    margin-left: 10px;
}
.checkbox-mark-text{
    margin-left: 15px;
}
